<ion-header translucent="true" class="hdr">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'NOTIFICATIONS_PAGE.TITLE' | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="markAllRead()">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <div class="wrap">
    <ion-refresher slot="fixed" (ionRefresh)="load($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="empty" *ngIf="!loading && items.length === 0">
      <ion-icon name="notifications-outline"></ion-icon>
      <div>{{ 'NOTIFICATIONS_PAGE.EMPTY' | translate }}</div>
    </div>

    <div class="card" *ngFor="let n of items" (click)="open(n)">
      <div class="dot" *ngIf="isUnread(n)"></div>
      <div class="title">{{ n.title }}</div>
      <div class="body">{{ n.body }}</div>
      <button
        *ngIf="actionLabel(n) as lbl"
        class="action-btn"
        type="button"
        (click)="open(n); $event.stopPropagation()"
      >
        {{ lbl }}
      </button>
      <div class="meta">{{ n.createdAt | date:'MMM d, HH:mm' }}</div>
    </div>

    <div class="skel" *ngIf="loading">
      <div class="skel-card" *ngFor="let _ of [1,2,3,4]"></div>
    </div>

  </div>
</ion-content>
