<ion-content [fullscreen]="true" class="fp">
  <!-- Top Navigation -->
  <div class="top">
    <button
      class="top-btn"
      type="button"
      (click)="backToLogin()"
      [attr.aria-label]="'COMMON.BACK' | translate"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>

    <div class="top-title">
      {{ 'FORGOT_PASSWORD_PAGE.TOP_TITLE' | translate }}
    </div>
    <div class="top-spacer"></div>
  </div>

  <main class="main">
    <!-- Illustration -->
    <div class="illus">
      <div class="illus-wrap">
        <div class="illus-glow"></div>
        <div
          class="illus-img"
          style="background-image: url(&quot;assets/img/Asset_6.png&quot;)"
        ></div>
      </div>
    </div>

    <!-- Headline -->
    <div class="headline">
      <h1>{{ 'FORGOT_PASSWORD_PAGE.TITLE' | translate }}</h1>
      <p>{{ 'FORGOT_PASSWORD_PAGE.SUBTITLE' | translate }}</p>
    </div>

    <!-- Form -->
    <form class="form" (ngSubmit)="submit()">
      <div class="field">
        <div class="focus-glow"></div>

        <div class="input-wrap">
          <div class="icon">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <input
            type="text"
            [placeholder]="'FORGOT_PASSWORD_PAGE.IDENTIFIER_PLACEHOLDER' | translate"
            [formControl]="form.controls.identifier"
            autocomplete="username"
          />
        </div>
      </div>

      <button class="cta" type="submit" [disabled]="loading">
        <div class="cta-bg"></div>

        <div class="cta-inner">
          <span class="cta-text"
            >{{ 'FORGOT_PASSWORD_PAGE.SEND_CODE' | translate }}</span
          >
          <ion-icon class="send-ico" name="paper-plane-outline"></ion-icon>
        </div>

        <div class="cta-glow"></div>

        <div class="cta-loading" *ngIf="loading">
          <ion-skeleton-text animated class="btn-skeleton"></ion-skeleton-text>
        </div>
      </button>
    </form>

    <div class="bottom">
      <button class="back-link" type="button" (click)="backToLogin()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        {{ 'FORGOT_PASSWORD_PAGE.BACK_TO_LOGIN' | translate }}
      </button>
    </div>
  </main>
</ion-content>
