<ion-tabs>

  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" class="lotto-tabbar">
    <ion-tab-button tab="home">
      <span class="material-symbols-outlined">home</span>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="participations" href="/tabs/participations">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>Tikets</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="winners">
      <span class="material-symbols-outlined">emoji_events</span>
      <ion-label>Winners</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <span class="material-symbols-outlined">person</span>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- <ion-fab *ngIf="isAdmin$ | async" vertical="bottom" horizontal="center" slot="fixed" class="center-fab">
    <ion-fab-button (click)="goCreateRaffle()">
      <span class="material-symbols-outlined">add</span>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab *ngIf="isAdmin" class="center-fab" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="goCreateRaffle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-tabs>