<ion-app>
  <ng-container *ngIf="loading$ | async">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-container>

  <div
    class="connectivity-banner"
    *ngIf="bannerState$ | async as banner"
    [class.offline]="banner.offline"
    [class.pending]="!banner.offline && banner.pending > 0"
    [class.constrained]="banner.constrained"
  >
    <span class="status-icon" [class.syncing]="banner.syncing"></span>
    <div class="banner-copy">
      <ng-container *ngIf="banner.offline && !banner.syncing; else onlineState">
        <span class="title">{{ "OFFLINE.STATUS" | translate }}</span>
        <span class="body">{{ "OFFLINE.USING_SAVED_DATA" | translate }}</span>
      </ng-container>
      <ng-template #onlineState>
        <ng-container *ngIf="banner.constrained; else queueReady">
          <span class="title">{{
            "OFFLINE.LOW_BANDWIDTH_TITLE" | translate
          }}</span>
          <span class="body">{{
            "OFFLINE.LOW_BANDWIDTH_BODY" | translate
          }}</span>
        </ng-container>
      </ng-template>
      <ng-template #queueReady>
        <span class="title">{{ "OFFLINE.SYNCING_TITLE" | translate }}</span>
        <span class="body">{{
          "OFFLINE.SYNCING_BODY" | translate: { count: banner.pending }
        }}</span>
      </ng-template>
    </div>
  </div>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
