<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Créer un raffle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- ✅ le form doit entourer tous les inputs -->
  <form [formGroup]="form" (ngSubmit)="submit()">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Produit</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Titre" labelPlacement="stacked" formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea label="Description" labelPlacement="stacked" formControlName="description"></ion-textarea>
        </ion-item>

        <ion-button expand="block" type="button" (click)="pickImage()" [disabled]="submitting">
          Photo / Importer
        </ion-button>

        <div *ngIf="previewUrl" style="margin-top:10px;">
          <img [src]="previewUrl" style="width:100%; border-radius:12px;" />
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Raffle</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input type="number" label="Ticket price" labelPlacement="stacked" formControlName="ticketPrice"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Currency" labelPlacement="stacked" formControlName="currency"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Date de fin</ion-label>
          <ion-datetime presentation="date-time" formControlName="endAt"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Publier maintenant (LIVE)</ion-label>
          <ion-toggle formControlName="publishNow"></ion-toggle>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="submitting || form.invalid">
          Créer
        </ion-button>
      </ion-card-content>
    </ion-card>

  </form>
</ion-content>
