<ion-content [fullscreen]="true" class="sent">
  <div class="top-line"></div>

  <div class="wrap">
    <div class="icon-area">
      <div class="icon-glow"></div>

      <div class="icon-circle">
        <ion-icon class="mail" name="key-outline"></ion-icon>
      </div>
    </div>

    <div class="text">
      <h1>{{ 'FORGOT_PASSWORD_SENT_PAGE.TITLE' | translate }}</h1>
      <p>{{ 'FORGOT_PASSWORD_SENT_PAGE.SUBTITLE' | translate }}</p>
      <p class="identifier" *ngIf="identifier">{{ identifier }}</p>
    </div>

    <form class="form" (ngSubmit)="submit()">
      <input
        class="input"
        type="text"
        inputmode="numeric"
        maxlength="6"
        [placeholder]="'FORGOT_PASSWORD_SENT_PAGE.CODE_PLACEHOLDER' | translate"
        [formControl]="form.controls.code"
      />

      <input
        class="input"
        type="password"
        autocomplete="new-password"
        [placeholder]="'FORGOT_PASSWORD_SENT_PAGE.NEW_PASSWORD_PLACEHOLDER' | translate"
        [formControl]="form.controls.newPassword"
      />

      <input
        class="input"
        type="password"
        autocomplete="new-password"
        [placeholder]="'FORGOT_PASSWORD_SENT_PAGE.CONFIRM_PASSWORD_PLACEHOLDER' | translate"
        [formControl]="form.controls.confirmPassword"
      />

      <button class="primary" type="submit" [disabled]="loading">
        <span class="label" *ngIf="!loading"
          >{{ 'FORGOT_PASSWORD_SENT_PAGE.SUBMIT' | translate }}</span
        >
        <ion-skeleton-text
          *ngIf="loading"
          animated
          class="btn-skeleton"
        ></ion-skeleton-text>
        <div class="shimmer"></div>
      </button>
    </form>

    <div class="timer">
      <ion-icon name="timer-outline"></ion-icon>
      <div>
        {{ 'FORGOT_PASSWORD_SENT_PAGE.RESEND_IN' | translate }}
        <span class="nums">{{ mmss }}</span>
      </div>
    </div>

    <button
      class="link-btn"
      type="button"
      [disabled]="secondsLeft > 0 || resending"
      (click)="resend()"
    >
      {{ resending ? ('FORGOT_PASSWORD_SENT_PAGE.RESENDING' | translate) :
      ('FORGOT_PASSWORD_SENT_PAGE.RESEND' | translate) }}
    </button>
  </div>

  <div class="footer">
    <button class="footer-btn" type="button" (click)="backToLogin()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      {{ 'FORGOT_PASSWORD_PAGE.BACK_TO_LOGIN' | translate }}
    </button>
  </div>

  <div class="blob a"></div>
  <div class="blob b"></div>
</ion-content>
